/* I reset the default styles. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

/* Light Mode Colours*/
.Light-Mode-Colors {
    --Background-Color-Change: white;
    --Maroon-Color: rgba(73, 48, 54, 255);
    color: #333;
}

/* Dark Mode Colours*/
.Dark-Mode-Colors {
    --Background-Color-Change: #444444;
    --White-Text-Color: white;
    color: var(--White-Text-Color);
}

/* These are the stylings I used for the body element. */
body {
    background: var(--Background-Color-Change);
    overflow-x: hidden;
}

/* This section styles the header of my Web Development Personal Portfolio Website. */
.Web-Dev-Portfolio-Header {
    background: var(--Maroon-Color);
    display: flex;
    align-items: center;
    position: fixed;
    padding: 25px 7%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

/* This styles the logo of my website. */
.Web-Dev-Portfolio-Logo {
    color: white;
    margin-right: auto;
    text-decoration: none;
    font-size: 25px;
    font-weight: 1000;
    cursor: pointer;
    animation: slideTransitionFromRight 1.8s ease forwards;
}

/* This styles the logo upon hover. */
.Web-Dev-Portfolio-Logo:hover {
    transform: scale(1.2);
    animation: none; /* To disable the animation on hover. */
}


/* Navigation Menu: */
/* This styles the navigation links in my Web Development Personal Portfolio Website. */
.Web-Dev-Portfolio-Navigation-Menu a {
    position: relative;
    display: inline-block;
    align-items: center;
    color: white;
    font-size: 19px;
    font-weight: 550;
    margin-right: 33px;
    text-decoration: none;
    opacity: 0;
    animation: slideTransitionFromRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

/* This styles the line below the navigation links in my Web Development Personal Portfolio Website. */
.Web-Dev-Portfolio-Navigation-Menu a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0; /* I set the width to 0 for the invisible line. */
    height: 2px;
    background: white;
    transition: .3s;
}

/* This styles the line below the navigation links in my Web Development Personal Portfolio Website when hovered. */
.Web-Dev-Portfolio-Navigation-Menu a:hover::before {
    width: 100%; /* When the user hovers, the line below the text expands to its full width. */
}

/* Light and Dark Mode Buttons: */
/* This styles the dark mode button within my Web Development Personal Portfolio Website. */
.Web-Dev-Portfolio-Dark-Mode-Button {
    display: flex;
    margin-top: 1px;
    cursor: pointer;
    opacity: 0;
    animation: slideTransitionFromRight 1s ease forwards;
    animation-delay: 2.9s;
}
/* This styles the icon. */
.Web-Dev-Portfolio-Dark-Mode-Button .Dark-Mode-Button {
    color: white;
    font-size: 28px;
}

/* This styles the sun and moon icons when hovered in light mode. */
.Light-Mode-Colors .bx-moon:hover,
.Light-Mode-Colors .bx-sun:hover {
    color: rgb(255, 255, 0); /* The sun's color changes into yellow when hovered. */
    transform: scale(2.1); /* This enlarges the icon on hover for emphasis. */
    transition: color 0.3s ease, transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* To make the transition for the color and size change smooth. */
}

/* This styles the sun and moon icons when hovered in dark mode. */
.Dark-Mode-Colors .bx-sun:hover,
.Dark-Mode-Colors .bx-moon:hover {
    color: rgb(204, 204, 204); /* The moon's color changes into gray when hovered. */
    transform: scale(2.1); /* This enlarges the icon on hover for emphasis. */
    transition: color 0.3s ease, transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* To make the transition for the color and size change smooth. */
}



/* Styling for the contents of the Projects Page: */
/* This styles the entire container of the Projects Section of my Website. */
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: var(--Background-Color-Change);
    margin-bottom: 36px;
}

/* This styles the input elements that are within the Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container. */
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container input {
    appearance: none;
}

/* This styles the all the button elements within the Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container. */
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container .Project-Button {
    position: relative;
    z-index: 1;
    display: flex;
    margin-top: 760px;
    gap: 8px;
}

/* This styles the all the button elements that is within the button container. */
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container .Project-Button label {
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 25%;
    border: 3px solid var(--Maroon-Color);
    opacity: 0.5;
    cursor: pointer;
}

/* This styles the labels that is within the button container when they are hovered. */
.Project-Button label:hover {
    transform: scale(1.2);
}

/* This styles all the labels that are linked to the checked input elements. */
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container input:nth-child(1):checked ~ .Project-Button label:nth-child(1),
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container input:nth-child(2):checked ~ .Project-Button label:nth-child(2), 
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container input:nth-child(3):checked ~ .Project-Button label:nth-child(3),
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container input:nth-child(4):checked ~ .Project-Button label:nth-child(4), 
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container input:nth-child(5):checked ~ .Project-Button label:nth-child(5),
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container input:nth-child(6):checked ~ .Project-Button label:nth-child(6) {
    opacity: 1;
}

/* This styles the transition effect for the container. */
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container .Project-Transition-Effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

/* This styles the movement of the transition effect for the container. */
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container .Project-Transition-Effect .Project-Transition-Effect-Movement {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--img);
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center; 
    clip-path: circle(0% at 0% 50%);
    transition: 1.5s;
}

/* This styles the video element that is within the Project-Transition-Effect-Movement video container. */
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container .Project-Transition-Effect .Project-Transition-Effect-Movement video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
}

/* This styles the play button for the video element that is within the Project-Transition-Effect-Movement video container. */
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container .Project-Transition-Effect .Project-Transition-Effect-Movement video::-webkit-media-controls-play-button {
    color: white;
    background-color: var(--Maroon-Color);
    border-radius: 50%
}

/* This styles the play button for the video element that is within the Project-Transition-Effect-Movement video container when hovered. */
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container .Project-Transition-Effect .Project-Transition-Effect-Movement video::-webkit-media-controls-play-button:hover {
    background-color: var(--Maroon-Color);
}

/* This styles the movement of the transition effect. */
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container .Project-Transition-Effect .Project-Transition-Effect-Movement:nth-child(even) {
    clip-path: circle(0% at 100% 50%); /* This applies a circular clipping path that starts from the right. */
}

/* This styles the movement of the transition effect based on checked input elements. */
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container input:nth-child(1):checked ~ .Project-Transition-Effect .Project-Transition-Effect-Movement:nth-child(1),
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container input:nth-child(2):checked ~ .Project-Transition-Effect .Project-Transition-Effect-Movement:nth-child(2),
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container input:nth-child(3):checked ~ .Project-Transition-Effect .Project-Transition-Effect-Movement:nth-child(3),
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container input:nth-child(4):checked ~ .Project-Transition-Effect .Project-Transition-Effect-Movement:nth-child(4),
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container input:nth-child(5):checked ~ .Project-Transition-Effect .Project-Transition-Effect-Movement:nth-child(5),
.Website-Pages-Web-Dev-Portfolio-ProjectsPage-Container input:nth-child(6):checked ~ .Project-Transition-Effect .Project-Transition-Effect-Movement:nth-child(6) {
    clip-path: circle(150% at 50% 50%); /* A circular clipping path expands from the center. */
    transition-delay: 1s;
}

/* Styling for the Explore Buttons: */
.Explore-Project-Button {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* This styles the buttons that is within the "Explore-Project-Button" container. */
.Explore-Project-Button button{
    height: 40px;
    width: 100px;
    border: 1px solid black;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.3s;
    font-weight: 400;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    border: 2px solid var(--Maroon-Color);
}

/* This adds hover effects to the buttons that is within the "Explore-Project-Button" container. */
.Explore-Project-Button button:hover{
    color: white;
    background: rgba(73, 48, 54, 255);
    transform: scale(1.2);
}

/* This styles the h1 elements in the "My-Projects-Text" container. */
.My-Projects-Text h1{
    text-align: center;
    font-size: 65px;
    margin-top: 120px;
    margin-bottom: 15px;
    opacity: 0;
    animation: slideTransitionFromRight 1s ease forwards;
    animation-delay: .7s;
}



/* The following lines are for the styling of the additional recent projects. */
/* This styles the container for all of my additional recent projects. */
.More-Projects-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin: 0 12px 60px 12px;
}
  
/* This styles each box that is used for the projects. */
.More-Projects-Box {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;    
    height: 200px;
    width: 350px;
    background-color: var(--Maroon-Color);
    overflow: hidden;
    perspective: 400px;
    margin-bottom: 25px;
}

/* This styles the container that is used for the images of the additional projects. */
.More-Projects-Images-Container {
    height: 100%;
    width: 100%;
}
  
/* This styles all of the images in the More-Projects-Box container. */
.More-Projects-Box img {
    height: 100%;
    width: 100%;
    transition: all 1.2s cubic-bezier(0.169, 0.829, 0.36, 1.249);
}

/* This styles all of the images in the More-Projects-Box container when hovered. */
.More-Projects-Box:hover {
    color: white;
    transform: scale(1.09);
    box-shadow: 0 10px 12px black;
}
  
/* This styles the content inside the box. */
.More-Projects-Box-Contents {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--Maroon-Color);
    padding: 20px;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1.2s cubic-bezier(0.169, 0.829, 0.36, 1.249);
}
  
/* This reveals the content when the user hovers over it. */
.More-Projects-Box:hover .More-Projects-Box-Contents {
    transform: rotateX(0deg);
}

/* This hides the image when hovering over the box. */
.More-Projects-Box:hover img {
    scale: 0;
}  

/* This styles the title of each project. */
.More-Projects-Box-Contents-Project-Title {
    color: white;
    font-size: 16px;
    font-weight: 700;
}  
  
/* This styles the description of each project. */
.More-Projects-Box-Contents-Project-Description p{
    color: white;
}

.More-Projects-Box-Contents-Project-Description span {
    font-size: 14px;
}


/* The following lines styles the Explore Button: */
/* This styles the More-Projects-ExploreButton-Container Container. */
.More-Projects-ExploreButton-Container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* This styles the More-Projects-ExploreButton-Container Container when hovered. */
.More-Projects-ExploreButton-Hover {
    display: flex;
    height: fit-content;
    width: fit-content;
    border: 2px white solid;
}
  
/* This styles the More-Projects-ExploreButton-Hover-GitHubLogo container. */
.More-Projects-ExploreButton-Hover-GitHubLogo {
    background-color: white;
    padding: 10px 10px 5px 10px;
}
  
/* This styles the GitHub Logo. */
.More-Projects-ExploreButton-Hover-GitHubLogo svg {
    height: 26px;
    width: 26px;
}
  
/* This styles the Explore button. */
.More-Projects-ExploreButton {
    height: 20px;
    width: 210px;
    transition:  0.6s;
    transform-style: preserve-3d;
}

/* This rotates the Explore button when hovered. */
.More-Projects-ExploreButton-Hover:hover .More-Projects-ExploreButton {
    transform: rotateX(90deg);
}
  
/* This styles the content inside the Explore Button. */
.More-Projects-ExploreButton-Content {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 210px;
    font-size: 18px;
}

/* This styles the text "Explore". */
.ExploreText {
    color: white;
    background: #17171c;
    transform: translate3d(0, 0, 1em);
}

/* This styles the open state of the button. */
.Open {
    color: white;
    background: #17171c;
    transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

/* This styles the open button. */
.More-Projects-ExploreButton-Content.Open button {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer; 
}















/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: var(--Maroon-Color);
    padding: 20px;
    z-index: 100;
}

/* The following lines are the Keyframe animations: */
/* Keyframe animation for sliding in from the right. */
@keyframes slideTransitionFromRight {
    0% {
        opacity: 0; /* It has an opacity of 0 at the start. */
        transform: translateX(100px); /* It moves it 100px to the right. */
    }
    100% {
        opacity: 1; /* It has an opacity of 1 at the end. */
        transform: translateX(0); /* It moves back to its original position. */
    }
}

/* Keyframe animation for sliding in from the left. */
@keyframes slideTransitionFromLeft {
    0% {
        opacity: 0; /* It has an opacity of 0 at the start. */
        transform: translateX(-100px); /* It moves it 100px to the left. */
    }
    100% {
        opacity: 1; /* It has an opacity of 1 at the end. */
        transform: translateX(0); /* It moves back to its original position. */
    }
}

/* Keyframe animation for sliding in from the top. */
@keyframes slideTransitionFromTop {
    0% {
        opacity: 0; /* It has an opacity of 0 at the start. */
        transform: translateY(100px); /* It moves it down by 100px. */
    }
    100% {
        opacity: 1; /* It has an opacity of 1 at the end. */
        transform: translateY(0); /* It moves back to its original position. */
    }
}