/* I reset the default styles. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

/* Light Mode Colours*/
.Light-Mode-Colors {
    --Background-Color-Change: white;
    --Maroon-Color: rgba(73, 48, 54, 255);
    color: #333;
}

/* Dark Mode Colours*/
.Dark-Mode-Colors {
    --Background-Color-Change: #444444;
    --White-Text-Color: white;
    color: var(--White-Text-Color);
}

/* These are the stylings I used for the body element. */
body {
    background: var(--Background-Color-Change);
    padding-bottom: 950px;
    overflow-x: hidden;
}

/* This styles the h1 elements in the My-Credentials-Text container. */
.My-Credentials-Text h1 {
    text-align: center;
    font-size: 65px;
    margin-top: 100px;
    margin-bottom: -85px;
    opacity: 0;
    animation: slideTransitionFromRight 1s ease forwards;
    animation-delay: .7s;
}

/* This styles the Web-Dev-Portfolio-CredentialsPage-Container container */
.Web-Dev-Portfolio-CredentialsPage-Container {
    position: absolute;
    height: 700px;
    width: 990px;
    left: 50%;
    margin-top: 460px;
    transform: translate(-50%, -50%);
}


/* This styles the images of my certificates within the sliding image container. */
.Web-Dev-Portfolio-CredentialsPage-Container .Web-Dev-Portfolio-CredentialsPage-SlidingImage .Web-Dev-Portfolio-CredentialsPage-Images {
    position: absolute;
    background-size: contain;
    display: inline-block;
    height: 100px;
    width: 100px;
    top: 50%;
    border-radius: 15px;
    transform: translate(150px, -290px);
    background-position: 50% 50%;
    box-shadow: 0 30px 50px #505050;
    transition: 0.8s;
}

/* This styles specific images within sliding image container. */
.Web-Dev-Portfolio-CredentialsPage-SlidingImage .Web-Dev-Portfolio-CredentialsPage-Images:nth-child(1),
.Web-Dev-Portfolio-CredentialsPage-SlidingImage .Web-Dev-Portfolio-CredentialsPage-Images:nth-child(2){
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
}

/* This also styles the rest of the images individually within the sliding image container. */
.Web-Dev-Portfolio-CredentialsPage-SlidingImage .Web-Dev-Portfolio-CredentialsPage-Images:nth-child(3){
    left: 80%;
}
.Web-Dev-Portfolio-CredentialsPage-SlidingImage .Web-Dev-Portfolio-CredentialsPage-Images:nth-child(4){
    left: calc(70% + 220px);
}
.Web-Dev-Portfolio-CredentialsPage-SlidingImage .Web-Dev-Portfolio-CredentialsPage-Images:nth-child(5){
    left: calc(23% + 440px);
}

.Web-Dev-Portfolio-CredentialsPage-SlidingImage .Web-Dev-Portfolio-CredentialsPage-Images:nth-child(n + 6){
    left: calc(70% + 220px);
    opacity: 0;
}

.Web-Dev-Portfolio-CredentialsPage-SlidingImage .Web-Dev-Portfolio-CredentialsPage-Images:nth-child(2) {
    display: block;
}


/* Styling for the Back and Next Buttons: */
.backAndnextButton{
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 730px;
}

/* This styles the buttons that is within the backAndnextButton container. */
.backAndnextButton button{
    height: 35px;
    width: 40px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 5px;
    border: 2px solid var(--Maroon-Color);
    transition: 0.3s;
}

/* This adds hover effects to the buttons that is within the backAndnextButton container. */
.backAndnextButton button:hover{
    color: white;
    background: gray;
    font-weight: 300;
    transform: scale(1.2);
    animation: none; /* Disable the animation on hover */
}


/* The following lines are the Keyframe animations: */
@keyframes imageSlider {
    from{
        opacity: 0; /* It has an opacity of 0 at the start. */
        transform: translate(0, 100px);
    }

    to{
        opacity: 1; /* It has an opacity of 1 at the end. */
        transform: translate(0);
    }
}